name: CI with Gradle

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  checks: write
  # required for all workflows
  security-events: write
  # only required for workflows in private repositories
  actions: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build
        run: ./gradlew bootJar
      - name: Unit test
        run: ./gradlew test
      - name: Publish Test
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: Unit tests results
          files: |
            build/test-results/test/*.xml
      - name: Integration test
        run: ./gradlew testIntegration
      - name: Publish Integration Test
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: Integration tests results
          files: |
            build/test-results/testIntegration/*.xml
      - name: Run Coverage
        run: ./gradlew jacocoFullReport
      - name: JaCoCo Code Coverage Report
        id: jacoco_reporter
        uses: PavanMudigonda/jacoco-reporter@v4.8
        with:
          coverage_results_path: build/reports/jacoco/jacocoFullReport/jacocoFullReport.xml
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: false
          minimum_coverage: 80
          fail_below_threshold: false
          publish_only_summary: false
      - name: Publish Coverage Summary
        run: cat _TMP/coverage-results.md >> $GITHUB_STEP_SUMMARY
      - name: Run Mutation Tests
        run: ./gradlew pitest